/* General Styles */
.card-wrapper {
  margin: 5% 0;
  background-color: #f5f5f5;
  padding: 1%; /* Increase padding for better readability */
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
  overflow: hidden;
  position: relative;
}

.card-wrapper:hover {
  transform: translateY(-8px); /* Slightly lift the card on hover for a more pronounced effect */
}

/* Circle Image Styles */
.custom-circle-image {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
}

.custom-circle-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* Card Title Styles */
.card-title {
  letter-spacing: 1.1px;
  font-size: 24px; /* Slightly increase font size for titles */
  font-weight: bold;
  color: #333;
}

/* Card Text Styles */
.card-text {
  font-family: "Merriweather", sans-serif;
  font-size: 18px; /* Maintain a readable font size for text */
  line-height: 1.6;
  color: #666;
}

/* Dropzone Styles */
.dropzone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
}

.info {
  font-family: "Merriweather", sans-serif;
  font-size: 20px; /* Slightly reduce font size for info messages */
  line-height: 1.5;
  color: #3498db; /* Blue color for informational messages */
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #d1ecf1;
  border: 2px solid #3498db;
  border-radius: 10px;
}

/* Table Styles */
#classTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

#classTable td, #classTable th {
  border: 1px solid #ddd;
  padding: 12px;
}

#classTable th {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}




